Repository adamspd/django-payment-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, enhancement, github-actions, tests, user-interface

Fake production value to make settings work
  .gitignore
Labels: enhancement

Fake production value to make settings work
  .gitignore
Labels: enhancement

Fake production value to make settings work
  django_payment_manager/productions.py
Labels: enhancement

Fake production value to make settings work
  django_payment_manager/productions.py
Labels: enhancement

Added use of django-dotenv to ease the usage
  .gitignore
  django_payment_manager/productions.py
  django_payment_manager/settings.py
  requirements.txt
Labels: dependencies, enhancement

Added use of django-dotenv to ease the usage
  .gitignore
  django_payment_manager/productions.py
  django_payment_manager/settings.py
  requirements.txt
Labels: dependencies, enhancement

Fixing test
  payment/tests/__init__.py
  payment/tests/test_models.py
Labels: enhancement, tests

Fixing test
  payment/tests/__init__.py
  payment/tests/test_models.py
Labels: enhancement, tests

Fixing workflow (#1)
  .gitignore
  django_payment_manager/settings.py
  payment/tests/__init__.py
  payment/tests/test_models.py
  requirements.txt
Labels: dependencies, enhancement, tests

Fixing workflow (#1)
  .gitignore
  django_payment_manager/settings.py
  payment/tests/__init__.py
  payment/tests/test_models.py
  requirements.txt
Labels: dependencies, enhancement, tests

Remove warning for GitHub output
  check_version.py
Labels: enhancement

Remove warning for GitHub output (#2)
  check_version.py
Labels: enhancement

Remove warning for GitHub output (#2)
  check_version.py
Labels: enhancement

.github/labeler.yml:

documentation:
- "**/*.md"
- LICENSE
- "docs/**/*"

dependencies:
- requirements.txt

enhancement:
- "**"

github-actions:
- ".github/**/*"

tests:
- "payment/tests/**/*"

user-interface:
- "payment/templates/**/*"
- "payment/static/**/*"
